nav {
  height: 50px;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
  text-align: center;
}
/* .block_element{
  display: inline-block;
} */

.inline-block{
  display: inline-block;
  padding:15px;
}

.left{
  background-color: pink;
  Height: 5000px;
  float: left;
  width: 30%;
}

.right{
  background-color: grey;
  Height: 5000px;
  float: left;
  width: 70%;
}
/* target the class of inline-block below */

/* target the class of .left below */

/* target the class of .right below */
